

<div class="mat-elevation-z8 grid-container">
  <mat-spinner id="dataTableLoadingSpinner" *ngIf="isLoadingResults"></mat-spinner>

  <table mat-table *ngIf="!isLoadingResults" [dataSource]="localDataTable.rows" multiTemplateDataRows
   matSort [matSortActive]="localDataTable.sortBy"
    [matSortDirection]="localDataTable.sortDirection">
    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef >
        <mat-checkbox (change)="onAllCheckboxChanged($event)" [checked]="selectedRowData.hasValue() && isAllSelected()"
          [indeterminate]="selectedRowData.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="onRowCheckboxClicked($event)" (change)="onChangeRowSelection($event,row)"
          [checked]="selectedRowData.isSelected(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="expand" sticky>
      <th mat-header-cell *matHeaderCellDef > </th>

      <td mat-cell *matCellDef="let row">
        <ion-icon [name]="row == expandedElement? 'chevron-up' : 'chevron-down'" (click)="onViewExpandedContent(row)"></ion-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container *ngFor="let col of localDataTable.columns" [matColumnDef]="col.header" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.header}} </th>

      <td mat-cell *matCellDef="let row">  
        <span *ngIf="!col.isViewDetailLink"> {{row[col.field]}}</span>
       
        <a *ngIf="col.isViewDetailLink" (click)="onViewDetail(col.field,row)" style="cursor:pointer">
          {{row[col.field]}}
        </a>
      
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="ctxMenu" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
          <ng-template matMenuContent>
            <button *ngFor="let bt of localDataTable.contextMenu" mat-menu-item [disabled]="bt.disabled" (click)="bt.command(bt.id,row)">
              <ion-icon slot="start" [name]="bt.icon"></ion-icon>
              <span> {{bt.label}}</span>
            </button>
          </ng-template>
        </mat-menu>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>


    <!-- Filter header Column -->
    <ng-container matColumnDef="filter-column">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        </th>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedContentId">
      <td mat-cell *matCellDef="let row" [attr.colspan]="tableColHeaders.length">
        <div class="grid-element-detail" [@detailExpandTrigger]="row == expandedElement ? 'expanded' : 'collapsed'">
          <div [innerHTML]="localDataTable.expandContent"></div>
        </div>
      </td>
    </ng-container>
  


    <tr mat-header-row *matHeaderRowDef="tableColHeaders; sticky: true"></tr>
    <!-- <tr mat-header-row *matHeaderRowDef="['filter-column']" class="grid-second-header-row"></tr> -->
    <tr mat-row *matRowDef="let row; columns: tableColHeaders;" class="grid-element-row"
      [class.grid-expanded-row]="expandedElement === row"> </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedContentId']" class="grid-detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="tableColHeaders; sticky: true"></tr>

  </table>

  <mat-paginator (page)="onPageChanged($event)" [pageSize]="localDataTable.pageSize" [length]="localDataTable.totalRecords" [pageSizeOptions]="localDataTable.pageSizeOptions" showFirstLastButtons>

  </mat-paginator>
</div>