#app-split-pane{
    --side-min-width:100px;
    --side-max-width:200px;
  
  }
  #nav-menu-list {
    background-color:#fff;
  }
  #nav-menu-list ion-item{
height:34px !important ;
  }

  #nav-menu-list ion-icon {
    color: var(--ion-color-primary);
    margin: 0px 10px 0px 0px !important;
    font-size: 20px !important;
  }
  
  #nav-menu-list ion-label {
    font-size: 12px;
    min-height: 10px;
    font-weight: 500;
    color:var(--ion-color-dark)
  }
  
  #nav-menu-list ion-item.selected {
    --background: rgba(var(--ion-color-secondary-rgb), 0.14);
  }
  
  #nav-menu-list ion-item.selected ion-icon {
    color: var(--ion-color-secondary);
  }
  #nav-menu-list ion-item.selected ion-label {
    font-weight: 800;
    font-size: 14px;
  }


  