<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="content-mobile"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Configurations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <common-header-view 
   [buttonActions]="buttonActions" 
   [menuActions]="menuActions">

  </common-header-view>

  <div class="content-body">
    <ion-grid>
      <ion-row>
        <ion-col size="4"  *ngFor="let mnu of configTypes">
          <ion-card  style="cursor: pointer;" (click)="onGoTo(mnu.routePath)">
            <ion-grid>
              <ion-row>
                <ion-col >
                  <ion-card-content>
                    <ion-icon [name]="mnu.icon" slot="start"></ion-icon>
                    {{mnu.name}}
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
    
      </ion-row>
    </ion-grid>

  </div>

</ion-content>